extends layout
block head
	title Login To SmallSlate
block content
	div.row.marginTop10
		div.col-sm-6.col-md-3.marginTop10
			a.thumbnail(href="/auth/google")
				img(src="/img/google.png",alt="Sign in with Google")
				div(align="center")
					b Sign in with Google
	//	div.col-sm-6.col-md-3.marginTop10
			a.thumbnail(href="/auth/google")
				img(src="/img/facebook.png",alt="Login with Facebook")
				div(align="center")
					b Log in with Facebook		
					
