html {
  overflow-x: hidden; 
}

body {
  padding-top: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.marginTop10 {
	margin-top: 10px;
}

.margin5 {
	margin: 5px;
}

.margin10 {
	margin: 10px;
}

label.error {
	color: red;
	margin-top: 2px;
}

.showHideEditor {
	font-size: xx-small;
}

.pointer {
	cursor: pointer;
}

.marginRight10 {
	margin-right: 10px;
}

.examBackground {
	background :none repeat scroll 0 0 #F5F5F5;
	min-height: 100%;
}

.examContentBackground {
	background :none repeat scroll 0 0 white;
}



