html {
  overflow-x: hidden; 
}

body {
  padding-top: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 100%;
}

.breadcrumb {
	margin-bottom: 5px;
}

.marginTop10 {
	margin-top: 10px;
}

.marginRight10 {
	margin-right: 10px;
}

.marginLeft5 {
	margin-left: 5px;
}

.margin5 {
	margin: 5px;
}

label.error {
	color: red;
	margin-top: 2px;
}

.showHideEditor {
	font-size: xx-small;
}

.pointer {
	cursor: pointer;
}

.imgSize {
	height:128px !important;
	width:128px!important;
}

.textAlignCenter {
	text-align: center!important;
}

.examQuestion {
	border:2px solid black;
	border-bottom:3px solid black;
}

.questionButton {
	white-space: normal!important;
	padding: 40px 0 40px 0;
	text-align:inherit;
	padding-left: 10px;
}

.optionButtonContainer {
	white-space: normal!important;
	text-align:inherit;
	margin: 0px;
	padding: 0px;
}

.optionButton {
	white-space: normal!important;
	text-align:inherit;
	padding-left: 10px;
}

.buttonWrapText {
	white-space: normal!important;
}

.questionTextAlign {
	white-space: normal!important;
	text-align:left;
	padding-left:10px;
}

.btn-label {
	position: relative;
	display: inline-block;
	padding: 6px 12px;
	border-radius: 3px 3px 3px 3px;
}

.btn-labeled {
	padding-top: 0;
	padding-bottom: 0;
}

.hide {
	display:none;
}