extends /common/layout
block head
	title Welcome
block content
	.jumbotron.marginTop10
		.row
			.col-md-2 
				img.img-rounded(src="https://s3.amazonaws.com/uqi/examlz7Pd7VR.jpeg",alt="Exam Logo",height="128",width="128")
			.col-md-10 
				h1 Exam Name here
		p Exam description Exam description Exam  
		p
			a.btn.btn-primary.btn-lg(role='button') Start Exam