doctype 5
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible",content="IE=edge")
		meta(name="viewport",content="width=device-width, initial-scale=1.0")
		link(rel='stylesheet', href='/javascript/frameworks/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/exam.css')
		link(rel='stylesheet', href='/javascript/frameworks/icheck/square/blue.css')
		link(rel='stylesheet', href='/stylesheets/customStyle.css')
		script(src="/javascript/frameworks/jquery/jquery-1.10.2.min.js")
		script(src="/javascript/frameworks/bootstrap/js/bootstrap.min.js")
		script(src="/javascript/frameworks/icheck/jquery.icheck.min.js")
		script(src="/javascript/angular/apps/exam.js")
		script(src="/javascript/common.js")
		
	body.examBackground
		div.container
			.panel.panel-primary
				.panel-heading
					span.panel-title 1 of 50
				.panel-body
					ul.list-group
						li.list-group-item(style="border:1px solid green;border-bottom:2px solid green;")
							.margin5 Question  Question   
						li.list-group-item(style="border-top:0px white;")
							.checkbox
								label
									input(type="checkbox")   
									| Check me out Check me
						li.list-group-item
							.checkbox
								label
									input(type="checkbox")   
									| Check me out Check me
						li.list-group-item
							.checkbox
								label
									input(type="checkbox")   
									| Check me out Check me
						li.list-group-item
							.checkbox
								label
									input(type="checkbox")   
									| Check me out Check me
						li.list-group-item
							div
								button.btn.btn-default.margin5(type="button") Previous
								button.btn.btn-primary.margin5(type="button") Next 	
					div.table-responsive
						table.table(style="padding:0px!important")
							tr
								td
									span 
										button.btn.btn-default 1
									span
										button.btn.btn-default 2	
									span
										button.btn.btn-default 2
									span
										button.btn.btn-default 3
									span
										button.btn.btn-default 5
									span
										button.btn.btn-default 6
									span
										button.btn.btn-default 8
									span
										button.btn.btn-default 9
									span
										button.btn.btn-success Preview
				a.margin5(href="/",target="_blank") Powered by SmallSlate					
										
										
										
										
										
										
										
										
														