extends /common/layout
block head
	title Exam Preview
	script(src="/javascript/frameworks/angular/angular.min.js")
	script(src="/javascript/frameworks/angular/angular-resource.min.js")
	script(src="/javascript/frameworks/angular/angular-sanitize.min.js")
	script(src="/javascript/angular/filters/commonFilters.js")
	script.
		var examPreviewApp = angular.module('examPreviewApp', ['ngResource','commonFilters']);
		examPreviewApp.controller('examPreviewCtrl', ['$scope','getExamPreview',function($scope,getExamPreview) {
			var examCode = getURLParameter('ec');
			$scope.examObj = getExamPreview.query({examCode:examCode});		
		}]);
		
		examPreviewApp.factory('getExamPreview',['$resource', function($resource) {
			return $resource('/getExamPreview', {}, {
				query : {method : 'POST'}
			});
		}]);
		
block content
	div(ng-app="examPreviewApp",ng-controller="examPreviewCtrl")
		.div(ng-if="!examObj.examId || examObj.examId<=0")
			div.alert.alert-danger.marginTop10
				b Exam you have selected is not valid. Exam may have been de-activated by Author.
		.jumbotron.marginTop10(ng-if="examObj.examId>0")
			.row
				.col-md-2 
					img.img-rounded(ng-src="https://s3.amazonaws.com/uqi/{{examObj.examImg}}",height="128",width="128")
				.col-md-10 
					h1 {{examObj.examName}}
			p {{examObj.examDescr}}
			button.btn.btn-default(type="button") 
				b Questions - {{examObj.numberOfQuestions}} 
			button.btn.btn-default(ng-if="examObj.examTime>5",type="button") 
				b Time - {{examObj.examTime}} min
			button.btn.btn-default(ng-if="examObj.examTime<5",type="button") 
				b No Time Limit	
			div(ng-if="!examObj.showResultsAfterExam",style="font-size:70%;")
				small You will not be able to view results immediately for this exam. Author will evalvate and publish your results to your profile.You can view your results under My Profile link after Author has published your results.
			.marginTop10
				a.btn.btn-primary.btn-lg(href="/user/exam?ec={{examObj.examCode}}") Start Exam

		.div
			ul.nav.nav-tabs
				li.active(ng-if="examObj.authorDetails && examObj.authorDetails.length>5")
					a(href='#author', data-toggle='tab') 
						b Author
				li(ng-if="examObj.authorDetails && examObj.authorDetails.length>5 && examObj.examReferences && examObj.examReferences.length>5")
					a(href='#references', data-toggle='tab') 
						b References
				li.active(ng-if="(!examObj.authorDetails || !examObj.authorDetails.length>5) && examObj.examReferences && examObj.examReferences.length>5")
					a(href='#references', data-toggle='tab') 
						b Exam References
		.tab-content
			#author.tab-pane.fade.in.active(ng-if="examObj.authorDetails && examObj.authorDetails.length>5") 
				span.margin5(ng-bind-html="examObj.authorDetails | unsafe") 
			#references.tab-pane.fade(ng-if="examObj.authorDetails && examObj.authorDetails.length>5 && examObj.examReferences && examObj.examReferences.length>5")
				span.margin5(ng-bind-html="examObj.examReferences | unsafe") 
			#references.tab-pane.fade.in.active(ng-if="(!examObj.authorDetails || !examObj.authorDetails.length>5) && examObj.examReferences && examObj.examReferences.length>5")
				span.margin5(ng-bind-html="examObj.examReferences | unsafe") 
				

					