extends /common/layout
block head
	title Search Exams
	script(src="/javascript/frameworks/angular/angular.min.js")
	script(src="/javascript/frameworks/angular/angular-resource.min.js")
	script(src="/javascript/angular/services/commonService.js")
	script(src="/javascript/angular/filters/truncate.js")
	script.
		var searchExamsApp = angular.module('searchExamsApp', ['ngResource','commonService','truncateFilter']);
		searchExamsApp.controller('searchExamsCtrl', ['$scope','search',function($scope,search) {
			$scope.init = function() {
				if(getURLParameter('cc') && getURLParameter('cc').length>=8) {
					$scope.searchResults = search.query({cc:getURLParameter('cc'),type:'exam'});
				} else if(getURLParameter('sc') && getURLParameter('sc').length>=8) {
					$scope.searchResults = search.query({sc:getURLParameter('sc')});
				} else if(getURLParameter('sq') && getURLParameter('sq').length>=0) {
					$scope.searchResults = search.query({sq:getURLParameter('sq')});
					$scope.searchQuery = getURLParameter('sq');
				}
			}
			
			$scope.onSearchQueryChange = function() {
				if($scope.searchQuery && $scope.searchQuery.trim().length>0) {
					$scope.searchResults = search.query({sq:$scope.searchQuery});
				} else {
					$scope.init();
				}
			}
			$scope.init();
		}]);
block content
	ol.breadcrumb
		li
			a(href="/") Home
		li
			a(href="/exploreExams") Explore Exams		
		li.active Exams
	div(ng-app="searchExamsApp",ng-controller="searchExamsCtrl")
		.jumbotron(style="background-color:#686868;margin-bottom:0px;")
			div
				.input-group
					input.form-control(type="text",placeholder="Search Exams...",ng-model="searchQuery",ng-change="onSearchQueryChange()")
					.input-group-btn
						button.btn.btn-default(type="submit",ng-click="onSearchQueryChange()")
							i.glyphicon.glyphicon-search
		div(ng-show="searchResults.length>=1")					
			.panel.panel-primary.marginTop10(ng-repeat = "searchObj in searchResults")
				.panel-heading(ng-if="searchObj.subCategory.subCategoryCode.length>=8") 
					b {{searchObj.subCategory.subCategoryName}}
				.panel-body(style="padding:0px;")	
					.col-sm-3.col-md-2.marginTop10.textAlignCenter(style="padding-left:0px;",ng-repeat = "examObj in searchObj.quizList")
						.thumbnail
							a(href="/epreview?ec={{examObj.examCode}}",title="{{examObj.examName}}")
								img.img-rounded.imgSize(ng-src="https://s3.amazonaws.com/uqi/{{examObj.examImg}}",alt="{{examObj.examName}}")
							.caption
								div(style="height:40px;")
									a(href="/user/createExam?examCode={{examObj.examCode}}",title="{{examObj.examName}}")
										strong {{examObj.examName|truncate:30:"."}}
								div {{examObj.examDescr|truncate:15:"."}}
								div
									b(style="color:green") Code : {{examObj.examCode}}
								.badge {{examObj.numberOfQuestions}} Q
								.badge {{examObj.noOfViews}} views
		div.marginTop10(ng-show="!searchResults || searchResults.length<=0")
			.alert.alert-success 
				b No Exams Found. Try creating new exam. 
				a.btn.btn-success(href="/user/createExam") Create Exam
	.row
		.col-sm-6.col-md-2.marginTop10
			a(href="/exploreExams") Explore Exams
		.col-sm-6.col-md-2.marginTop10
			a(href="/examHome") Exam Home	
		.col-sm-6.col-md-2.marginTop10
			a(href="/user/profile") My Profile			
											