extends /common/layout
block head
	script(src="/javascript/frameworks/angular/angular.min.js")
	script(src="/javascript/frameworks/angular/angular-resource.min.js")
	script(src="/javascript/angular/apps/category.js")
	script(src="/javascript/angular/services/commonService.js")
	script(src="/javascript/frameworks/jquery/jquery.validate.min.js")
	title Create or Edit Category
block content
	div(ng-app="category",ng-controller="categoryCtrl")
		form.form-horizontal.marginTop10#createCategory(role="form")
			div.form-group
				label.col-lg-2.control-label(for="categoryName") Category Name
				div.col-lg-10
					input.form-control(name="categoryName" placeholder="Enter Category Name" data-ng-model="categoryObj.categoryName")
			div.form-group
					label.col-lg-2.control-label(for="categoryDescr") Category Description
					div.col-lg-10
						textarea.form-control(name="categoryDescr",placeholder="Enter Category Description",data-ng-model="categoryObj.categoryDescr")
			div.form-group
					label.col-lg-2.control-label(for="categoryImg") Category Image URL
					div.col-lg-10
						input.form-control(name="categoryImg",placeholder="850*275 Image URL",data-ng-model="categoryObj.categoryImg")
			div.form-group
				div.col-lg-offset-2.col-lg-10
					button.btn.btn-primary.margin5(ng-click="crudCategory('create')",ng-if="!categoryObj.categoryId") Add	
					button.btn.btn-primary.margin5(ng-click="crudCategory('update')",ng-if="categoryObj.categoryId") Update
					button.btn.btn-danger.margin5(ng-click="crudCategory('delete')",ng-if="categoryObj.categoryId") Delete
					
		div.alert.alert-danger(ng-if="categoryObj.error") 
			b {{categoryObj.error}}
		div.alert.alert-success(ng-if="categoryObj.success") 
			b {{categoryObj.success}}
		
		div.row
			div.col-sm-6.col-md-2
				a(href="/user/admin/category") Create Category
			div.col-sm-6.col-md-2
				a(href="/user/admin/subCategory") Create Sub Category	
			div.col-sm-6.col-md-2
				a(href="/user/admin/editCatSubCat") View Categories
			div.col-sm-6.col-md-2
				a(href="/user/profile") My Profile
			
			
			
			
			
			
			
			
			
			
			
		
		
		
							
