extends /common/layout
block head
	title My Profile
block content
	ol.breadcrumb
		li
			a(href="/") Home
		li.active My Profile
	div
		ul.nav.nav-tabs
			li.active
				a(href='#quizzes', data-toggle='tab') 
					b(style="color:#428BCA") Quizzes
			//li.active
				a(href='#exam', data-toggle='tab') 
					b(style="color:#428BCA") Exam
			if isAdmin
				li
					a(href='#admin', data-toggle='tab')
						b(style="color:#A52A2A") Admin		
		div.tab-content
			div#quizzes.tab-pane.fade.in.active
				div.panel.panel-primary.marginTop10
					div.panel-heading 
						b Quiz Tools
					div.panel-body
						div.row
							div.col-sm-6.col-md-4
								a(href="/exploreQuizzes",data-toggle="tooltip",data-title="Explore Quizzes")
									table
										tr
											td
												img.img-rounded(src="/img/explore.png",alt="Explore Quizzes")
											td 
												div 
													b Explore Quizzes
													div.textDescription Find Quizzes
							div.col-sm-6.col-md-4
								a(href="/user/createQuiz",data-toggle="tooltip",data-title="Create Quiz")
									table
										tr
											td
												img.img-rounded(src="/img/createExam.png",alt="Create Quiz")
											td 
												div 
													b Create Quiz
													div.textDescription Create and Share Quizzes
							div.col-sm-6.col-md-4
								a(href="/user/myQuizzes",data-toggle="tooltip",data-title="View My Quizzes")
									table
										tr
											td
												img.img-rounded(src="/img/editExam.png",alt="View My Quizzes")
											td 
												div 
													b My Quizzes
													div.textDescription View and edit quizzes you created	
														div.col-sm-6.col-md-4.margin5													


			//div#exam.tab-pane.fade.in.active
				div.panel.panel-primary.marginTop10
					div.panel-heading 
						b My Exams
					div.panel-body
						div.row
							div.col-sm-6.col-md-4.margin5
								a(href="/exploreExams",data-toggle="tooltip",data-title="Explore Exams")
									table
										tr
											td
												img.img-rounded(src="/img/explore.png",alt="Explore Exams")
											td 
												div 
													b Explore Exams
													div.textDescription Find exams you need	
													
							div.col-sm-6.col-md-4.margin5
								a(href="/user/allMyExamResults",data-toggle="tooltip",data-title="My Exam Results")
									table
										tr
											td
												img.img-rounded(src="/img/eresults.png",alt="My Exam Results")
											td 
												div 
													b My Exam Results
													div.textDescription View all your exam results	
				div.panel.panel-primary.marginTop10
					div.panel-heading 
						b Exam Tools - For Exam Authors
					div.panel-body
						div.row
							div.col-sm-6.col-md-4
								a(href="/user/createExam",data-toggle="tooltip",data-title="Create Exam")
									table
										tr
											td
												img.img-rounded(src="/img/createExam.png",alt="Create Exam")
											td 
												div 
													b Create Exam
													div.textDescription Create and Share Exams
							div.col-sm-6.col-md-4
								a(href="/user/myExams",data-toggle="tooltip",data-title="View Exams")
									table
										tr
											td
												img.img-rounded(src="/img/editExam.png",alt="View Exams")
											td 
												div 
													b My Exams
													div.textDescription View and edit exams you created	
														div.col-sm-6.col-md-4.margin5
							div.col-sm-6.col-md-4							
								a(href="/user/evaluateExamList",data-toggle="tooltip",data-title="Evaluate Exams")
									table
										tr
											td
												img.img-rounded(src="/img/evaluate.png",alt="Evaluate Exams")
											td 
												div 
													b Evaluate Exams
													div.textDescription View and Evaluate Exams									
				.col-sm-6.col-md-2.marginTop10
					a(href="/examHome") Exam Home
				.col-sm-6.col-md-2.marginTop10
					a(href="/exploreExams") Explore Exams		
			if isAdmin
				div#admin.tab-pane.fade 
					if isAdmin														
						div.panel.panel-primary.marginTop10
							div.panel-heading 
								b Admin
							div.panel-body
								div.row
									div.col-sm-6.col-md-4
										a(href="/user/admin/category") Create Category
									div.col-sm-6.col-md-4
										a(href="/user/admin/subCategory") Create Sub Category	
									div.col-sm-6.col-md-4
										a(href="/user/admin/editCatSubCat") View Categories
	.row
								
										
										
										
										