extends /common/layout
block head
	link(rel='stylesheet', href='/stylesheets/carousel.css')
	//link(rel='stylesheet', href='/javascript/frameworks/typeahead/typeahead.js-bootstrap.css')
	//script(src="/javascript/frameworks/typeahead/typeahead.min.js")
	title Welcome - Quizzes Home
	.jumbotron(style='background-color:#606060;color:white;text-align:center;line-height:0px;')
		.container
			h1 Quizzes
			h4 Find, Learn, Create and Share
			form(role="form",method="get",action="/searchQuiz")
				.input-group(style="display:inline,")
					input.form-control#searchQuery(type="text",name="sq",placeholder="Search Quizzes...")
					input(type="hidden",name="type",value="quiz")
					.input-group-btn
						button.btn.btn-default(type="submit")
							i.glyphicon.glyphicon-search
	.container.marketing
		.row.featurette
			.col-md-7
				h1 Quiz features
				hr
				h5
					span Access Anywhere - 
					span.text-muted Works across devices - phones, tablets, laptop and TV's
				h5
					span Take Quiz - 
					span.text-muted Rethought of Quizzes with speed, simplicity and intuitiveness
				h5
					span Create - 
					span.text-muted Create Single Answer, Multiple Answers, True/False type quizzes
				h5
					span Rich - 
					span.text-muted Create questions with rich text and images 	
				h5
					span Share Quiz - 
					span.text-muted Share Quiz id or Quiz URL with your friends  	
				h5
					span Its Completely Free - 
					span.text-muted Create unlimited quizzes and questions
					
			.col-md-5
				.jumbotron
					a.btn.btn-primary.btn-lg.btn-block.buttonWrapText(href="/exploreQuizzes") Explore Quizzes
					a.btn.btn-success.btn-lg.btn-block.buttonWrapText(href="/user/createQuiz") Create Quiz
					a.btn.btn-danger.btn-lg.btn-block.buttonWrapText(href="/user/myQuizzes") My Quizzes
					a.btn.btn-default.btn-lg.btn-block.buttonWrapText(href="/user/profile") My Profile