div.alert.alert-danger.marginTop10(ng-if="!examObj.questionList && !isAddingNewQuestion") 
	b There are no questions added

div.table-responsive(ng-if="examObj.questionList")
	table.table
		tr
			td 1
div
	button.btn.btn-primary(ng-click="addNewQuestion()",ng-if="!isAddingNewQuestion") Add New Question 	
div.panel.panel-primary.marginTop10(ng-if="isAddingNewQuestion")
	div.panel-heading
		b Add new question
	div.panel-body
		form.form-horizontal#examQuestionForm(role="form")
			div.form-group
				label.col-lg-2.control-label Question Type
				div.col-lg-10
					select.form-control(name="questionType",ng-model="examObj.questionObj.questionType")
						option(value="MOSA") Multi Options - Single Answer
						option(value="MOMA") Multi Options - Multiple Answers
						option(value="TORF") True / False
						option(value="ET") Essay Type 
			div(ng-if="examObj.questionObj.questionType=='MOSA'")
				include /user/exam/mosaForm
			div(ng-if="examObj.questionObj.questionType=='MOMA'")
				p moma
			div(ng-if="examObj.questionObj.questionType=='TORF'")
				p t or f
			div(ng-if="examObj.questionObj.questionType=='ET'")
				p essay type
			div.form-group
				div.col-sm-offset-2.col-sm-10
					button.btn.btn-default.marginRight10(type="submit",ng-click = "closeQuestionForm();") Close
					button.btn.btn-primary.marginRight10(type="submit",ng-click="saveQuestionForm('create');",ng-if="!examObj.questionObj.questionId") Save
					button.btn.btn-primary.marginRight10(ng-click="saveQuestionForm('update')",ng-if="examObj.questionObj.questionId>0") Update
					button.btn.btn-danger.marginRight10(ng-click="saveQuestionForm('update')",ng-if="examObj.questionObj.questionId>0") Delete
					
		div.alert.alert-danger(ng-if="quizObj.questionObj.error") {{examObj.questionObj.error}}
		div.alert.alert-success(ng-if="quizObj.questionObj.success") {{examObj.questionObj.success}}		