div.alert.alert-success.marginTop10(ng-if="(!examObj.questionList && !isAddingNewQuestion) || (examObj.questionList.length<1 && !isAddingNewQuestion)") 
	b.marginRight10 There are no questions added
	button.btn.btn-success(ng-click="addNewQuestion()") Add New Question
p#noRichEditorMessage(style="color:red;display:none;") Rich editor is not supported on this device.
div.table-responsive(ng-show="examObj.questionList && examObj.questionList.length>0")
	table.table(style="padding:0px!important")
		tr
			td
				span.marginRight10 
					button.btn.btn-success(ng-click="addNewQuestion()") New
				span(ng-repeat="questionObj in examObj.questionList")
					button.btn.btn-primary(ng-click="editQuestion(questionObj.questionNumber)",ng-if="examObj.questionObj.questionNumber==questionObj.questionNumber") {{questionObj.questionNumber}}
					button.btn.btn-default(ng-click="editQuestion(questionObj.questionNumber)",ng-if="examObj.questionObj.questionNumber!=questionObj.questionNumber") {{questionObj.questionNumber}}
					
div.panel.panel-primary.marginTop10(ng-if="isAddingNewQuestion")
	div.panel-heading
		b Question# {{examObj.questionObj.questionNumber}}
	div.panel-body
		form.form-horizontal#examQuestionForm(role="form")
			div.form-group(ng-if="!examObj.questionObj.questionId")
				label.col-lg-2.control-label Question Type
				div.col-lg-10
					select.form-control(name="questionType",ng-model="examObj.questionObj.questionType")
						option(value="MC") Multiple Choice
						option(value="TF") True / False
						option(value="ET") Essay Type 
			div(ng-if="examObj.questionObj.questionType=='MC'")
				include /user/exam/mcForm
			div(ng-if="examObj.questionObj.questionType=='TF'")
				include /user/exam/tfForm
			div(ng-if="examObj.questionObj.questionType=='ET'")
				include /user/exam/etForm
			div.form-group
				div.col-sm-offset-2.col-sm-10
					button.btn.btn-default.marginRight10(type="submit",ng-click = "closeQuestionForm();") Close
					button.btn.btn-primary.marginRight10(type="submit",ng-click="saveQuestion('create');",ng-if="!examObj.questionObj.questionId") Save
					button.btn.btn-primary.marginRight10(ng-click="saveQuestion('update')",ng-if="examObj.questionObj.questionId>0") Update
					button.btn.btn-danger.marginRight10(ng-click="deleteQuestion(examObj.questionObj.questionNumber)",ng-if="examObj.questionObj.questionId>0") Delete

		div.alert.alert-danger(ng-if="examObj.questionObj.error") {{examObj.questionObj.error}}
		div.alert.alert-success(ng-if="examObj.questionObj.success") {{examObj.questionObj.success}}	
	
div.panel.panel-primary.marginTop10(ng-repeat="questionObjfromList in examObj.questionList | reverse")
	div.panel-heading
		span
			b Question {{questionObjfromList.questionNumber}}.
	div.panel-body 
		div
			span 
				b Question : 
				span(ng-bind-html="questionObjfromList.question | unsafe")
		div
			span 
				b Question Type : 
			span(ng-if="questionObjfromList.questionType=='MC'") Multiple Choice
			span(ng-if="questionObjfromList.questionType=='TF'") True / False
			span(ng-if="questionObjfromList.questionType=='ET'") Essay Type 
		div(ng-repeat="questionOptionsfromList in questionObjfromList.questionOptions",ng-if="questionObjfromList.questionType!='ET'")
			span 
				b(ng-if="!questionOptionsfromList.isAnswer") Option {{$index+1}} :   
				b(ng-if="questionOptionsfromList.isAnswer",style="color:green;") Option {{$index+1}} (Answer) :    
			span(ng-bind-html="questionOptionsfromList.optionDesc | unsafe")
		div		
			span 
				b Difficulty Level :    
			span(ng-if="questionObjfromList.difficultyLevel==0") Easy
			span(ng-if="questionObjfromList.difficultyLevel==1") Medium
			span(ng-if="questionObjfromList.difficultyLevel==2") Hard
		div	
			span 
				b Answer Description :    
			span(ng-bind-html="questionObjfromList.answerDescr | unsafe")			
			
			
			
			
			
			
			
			
			
			
				
				
				
				
						